<div id="schedule-bottom-bar">
    <div class="container">
        <div id="top-bar-large" class="row hidden-xs">
            <div class="col-xs-12">
                <ul class="nav navbar-nav navbar-left">
                    <li>
                        <a>{{vm.dates.begin | date: "MMMM d."}} - {{vm.dates.end | date: "MMMM d."}}</a>
                    </li>
                    <li ng-if="vm.userInfo && vm.credit">
                        <a ng-href="/berlet/reszletek/{{vm.credit.id}}">A bérleted {{vm.credit.expiry * 1000 | date: "MMMM d"}}-ig érvényes<span ng-if="vm.userInfo && vm.credit && vm.credit.attended">, még {{ vm.credit.attended }} edzés</span>
                        <span ng-if="vm.userInfo && vm.credit && vm.credit.free">
                            ({{ vm.credit.free }} szabad)
                        </span></a>
                    </li>
                </ul>
                <ul ng-if="vm.userInfo" class="nav navbar-nav navbar-right">
                    <li>
                        <a href="" ng-click="vm.perviousWeek()">
                            Előző hét
                        </a>
                    </li>
                    <li>
                        <a href="" ng-click="vm.currentWeek()">
                            Aktuális hét
                        </a>
                    </li>
                    <li>
                        <a href="" ng-click="vm.nextWeek()">
                            Következő hét
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div ng-if="vm.userInfo" id="schedule-bottom-bar-small" class="row visible-xs">
            <div id="schedule-bottom-bar-small-date" class="col-xs-5 text-center">
                {{vm.dates.begin | date: "MMM d. EEEE"}}
            </div>
            <div class="col-xs-2 text-center">
                <a href="" ng-click="vm.perviousDay()"><i class="fa fa-2x fa-angle-left"></i></a>
            </div>
            <div class="col-xs-2 text-center">
                <a href="" ng-click="vm.today()"><i class="fa fa-2x fa-calendar-o"></i></a>
            </div>
            <div class="col-xs-2 text-center">
                <a href="" ng-click="vm.nextDay()"><i class="fa fa-2x fa-angle-right"></i></a>
            </div>
        </div>
    </div>
</div>

<div id="scheduleTable">
    <div class="container">
        <div class="row" ng-repeat="week in vm.weeks">
        <div ng-repeat="weekOfLocation in week" ng-if="weekOfLocation.rows.length && vm.showLocation[weekOfLocation.location.id].show">
            <h3>{{ weekOfLocation.location.name }}</h3>
            <table class="table table-bordered">
                <thead>
                    <th class="first-row"></th>
                    <th class="col-md-2" ng-repeat="day in vm.days" ng-if="day.display">{{ day.name }}</th>
                </thead>
                <tbody>
                    <tr ng-repeat="row in weekOfLocation.rows | orderBy: 'time'">
                        <td class="first-row">{{ row.time }}</td>
                        <td ng-repeat="instance in row.trainings" ng-if="vm.days[$index].display">
                            <div ng-if="instance.name">
                                <div class="logo" ng-class="{selected: instance.signedUp, participated: instance.participated, missed: instance.missed }"><div ng-class="instance.logo"></div></div>
                                <div class="training-name" ng-bind="instance.name"></div>
                                <div class="trainer" ng-bind="instance.coach" ng-class="instance.coach.toLowerCase()"></div>
                                <progressbar max="instance.max" value="instance.current">{{instance.current}} /
                                    {{instance.max}}
                                </progressbar>
                                <div>
                                    <button type="button" class="btn btn-primary"
                                            ng-show="instance.showAttendeeList"
                                            ng-click="vm.showAttendees(instance)">
                                        <i class="fa fa-navicon"></i>
                                    </button>
                                    <button type="button" class="btn btn-primary pull-right"
                                            ng-show="vm.canCancelTraining(instance)"
                                            ng-click="vm.cancelTraining(instance)">
                                        <i class="fa fa-trash-o"></i>
                                    </button>
                                    <button type="button" class="btn btn-danger pull-right animate-if"
                                            ng-if="vm.canLeave(instance)"
                                            ng-click="vm.leave(instance)">
                                        <i class="fa fa-remove"></i>
                                    </button>
                                    <button type="button" class="btn btn-primary pull-right animate-if"
                                            ng-if="vm.canJoin(instance)"
                                            ng-click="vm.join(instance)">
                                        <i class="fa fa-plus"></i>
                                    </button>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

            <div class="legend" ng-class="{opened: vm.showLegend, closed: !vm.showLegend, animated: vm.toggled }">
                <button type="button" class="btn btn-primary toggle" ng-click="vm.toggleLegend()">
                    <div>
                        Jelmagyarázat
                        <i class="fa fa-chevron-down" ng-if="vm.showLegend"></i>
                        <i class="fa fa-chevron-up" ng-if="!vm.showLegend"></i>
                    </div>
                </button>
                <div></div>
                <div class="clearfix">
                    <div class="color-legend participated"></div>
                    <div class="legend-text">Edzés, amin résztvettél</div>
                </div>
                <div class="clearfix">
                    <div class="color-legend missed"></div>
                    <div class="legend-text">Edzés, amit kihagytál</div>
                </div>
                <div class="clearfix">
                    <div class="color-legend selected"></div>
                    <div class="legend-text">Edzés, amire fel vagy írva</div>
                </div>
                <div class="clearfix">
                    <button type="button" class="btn btn-primary pull-left">
                        <i class="fa fa-plus"></i>
                    </button>
                    <div>Ezzel a gombbal jelentkezhetsz órára, ha van szabad kredited</div>
                </div>
                <div class="clearfix">
                    <button type="button" class="btn btn-danger pull-left">
                        <i class="fa fa-remove"></i>
                    </button>
                    <div>Ezzel a gombbal mondhatod le az órát, ha még legalább van 3 óra a kezdésig</div>
                </div>
            </div>
        </div>
    </div>
</div>