<div id="scheduleBar" class="navbar navbar-default navbar-fixed-bottom">
    <div class="container">
        <ul class="list-inline visible-lg visible-md" style="padding: 15px; margin: 0;">
            <li>
                {{vm.dates.begin | date: "MMMM d."}} - {{vm.dates.end | date: "MMMM d."}}
            </li>
            <li ng-if="vm.userInfo && vm.credit">
                A bérleted {{vm.credit.expiry * 1000 | date: "MMMM d"}}-ig érvényes<span ng-if="vm.userInfo && vm.credit && vm.credit.attended">, és hátravan még {{ vm.credit.attended }} edzés</span>
                <span ng-if="vm.userInfo && vm.credit && vm.credit.free">
                    (Még jelentkezhetsz további {{ vm.credit.free }} alkalomra)
                </span>
            </li>
            <li style="width: auto"></li>
            <li class="pull-right">
                <a href="#" ng-click="vm.nextWeek()">
                    Következő hét
                </a>
            </li>
            <li class="pull-right">
                <a href="#" ng-click="vm.currentWeek()">
                    Aktuális hét
                </a>
            </li>
            <li class="pull-right">
                <a href="#" ng-click="vm.perviousWeek()">
                    Előző hét
                </a>
            </li>
        </ul>
        <ul class="list-inline hidden-lg hidden-md" style="padding: 15px; margin: 0;">
            <li>
                {{vm.dates.begin | date: "MMM d."}} - {{vm.dates.end | date: "MMM d."}}
            </li>
            <li ng-if="vm.userInfo && vm.credit">
                <span><i class="fa fa-credit-card"></i> {{vm.credit.expiry * 1000 | date: "MMM d."}}</span>
                <span><i class="fa fa-file-text-o"></i> {{ vm.credit.attended }}</span>
                <span><i class="fa fa-database"></i> {{ vm.credit.free }}</span>
            </li>
            <li class="pull-right">
                <div class="btn-group">
                    <button type="button" class="btn btn-default navbar-btn" ng-click="schedule.perviousWeek()">
                        <i class="fa fa-angle-left"></i>
                    </button>
                    <button type="button" class="btn btn-default navbar-btn" ng-click="schedule.currentWeek()">
                        <i class="fa fa-angle-up"></i>
                    </button>
                    <button type="button" class="btn btn-default navbar-btn" ng-click="schedule.nextWeek()">
                        <i class="fa fa-angle-right"></i>
                    </button>
                </div>
            </li>
        </ul>
    </div>
</div>
<div class="container">
    <div id="scheduleTable">
        <div class="row" ng-repeat="week in vm.weeks">
            <div class="col-lg-2 scheduleTrainingPanel" ng-repeat="day in week">
                <div class="panel panel-default" ng-repeat="instance in day">
                    <div class="panel-heading" ng-class="{selected: instance.signedUp}">
                        {{ instance.date | date: "EEEE H:mm" }}
                    </div>
                    <div ng-if="instance.name === 'Placeholder'" class="panel-body placeholder">
                        Ebben az időpontban jelenleg nem tartunk órát. Szeretnéd, hogy legyen? <a
                            href="mailto:testkulturamuhely@gmail.com?subject=Új időpont">Írj nekünk!</a>
                    </div>
                    <div ng-if="instance.name != 'Placeholder'" class="panel-body"
                         ng-class="instance.coach.toLowerCase()">
                        <div ng-bind="instance.name"></div>
                        <div class="trainer" ng-bind="instance.coach"></div>
                        <progressbar max="instance.max" value="instance.currentBar">{{instance.current}} /
                            {{instance.max}}
                        </progressbar>
                        <div>
                            <button type="button" class="btn btn-default"
                                    ng-show="instance.showAttendeeList"
                                    ng-click="vm.showAttendees(instance)">
                                <i class="fa fa-navicon"></i>
                            </button>
                            <button type="button" class="btn btn-default pull-right animate-if"
                                    ng-if="vm.canLeave(instance)"
                                    ng-click="vm.leave(instance)">
                                <i class="fa fa-remove"></i>
                            </button>
                            <button type="button" class="btn btn-default pull-right animate-if"
                                    ng-if="vm.canJoin(instance)"
                                    ng-click="vm.join(instance)">
                                <i class="fa fa-plus"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>