<div class="container"><div class="row" style="max-width: 500px; margin: auto;">
<form name="datesForm" style="padding-top: 20px; clear: both;">
    <ul class="list-group">
        <li class="list-group-item">
            <label>Intervallum</label>
        </li>
        <li class="list-group-item">
            <label>Kezdő dátum</label>
            <calendar id="from" model="vm.dates.from" format="longDate" minDate="vm.dates.minDate" maxDate="vm.dates.maxDate"></calendar>
        </li>
        <li class="list-group-item">
            <label>Befejező dátum</label>
            <calendar id="to" model="vm.dates.to" format="longDate" minDate="vm.dates.minDate" maxDate="vm.dates.maxDate"></calendar>
        </li>
        <li class="list-group-item clearfix">
            <span style="margin-top: 10px" class="text-danger" ng-show="vm.dates.invalid">
                <i class="fa fa-exclamation-triangle"></i> A kezdő dátum korábbi kell, hogy legyen, mint a befejezés dátuma!</span>
            <button type="button" ng-disabled="datesForm.$invalid || vm.dates.invalid" class="btn btn-primary pull-right" ng-click="vm.show(datesForm)">Mutasd</button>
        </li>
    </ul>
</form>

    <ul class="list-group" ng-if="vm.coaches.length">
        <li class="list-group-item">
                Edzők: <div class="btn-group">
                <label class="btn btn-primary" ng-model="coach.selected" btn-checkbox ng-repeat="coach in vm.coaches" ng-change="vm.calculate()">{{coach.name}}</label>
            </div>
        </li>
        <li class="list-group-item">
            Összes aktív tanítvány: {{ vm.distinct }}
        </li>
        <li class="list-group-item">
            Összes bérletvásárlás: {{ vm.all }}
        </li>
    </ul>
    <accordion>
        <accordion-group ng-if="coach.selected" ng-repeat="coach in vm.coaches" is-open="coach.opened">
            <accordion-heading>
                {{ coach.name }} <i class="fa fa-users"></i> {{ vm.subscriptions[coach.name].distinct }} <i class="fa fa-credit-card"></i> {{ vm.subscriptions[coach.name].all }}<i class="pull-right fa" ng-class="{'fa-chevron-down': coach.opened, 'fa-chevron-right': !coach.opened}"></i>
            </accordion-heading>
            <accordion>
                <accordion-group ng-repeat="credit in vm.subscriptions[coach.name].subscriptions" is-open="credit.opened">
                    <accordion-heading>
                        {{ credit.client }}<i class="pull-right fa" ng-class="{'fa-chevron-down': credit.opened, 'fa-chevron-right': !credit.opened}"></i>
                    </accordion-heading>
                    <div class="creditText">Vásárlás időpontja: {{ credit.date * 1000 | date }}</div>
                    <div class="creditText">
                        Érvényesség vége: {{ credit.expiry * 1000 | date }}
                        <span ng-if="credit.expiry < vm.now">(Lejárt)</span>
                    </div>
                    <div class="creditText">{{ credit.amount }} alkalmas bérlet</div>
                    <a type="button" class="btn btn-primary pull-right" ng-href="/berlet/reszletek/{{credit.client}}/{{credit.id}}">Részletek</a>
                </accordion-group>
            </accordion>
        </accordion-group>
    </accordion>
  </div></div>