<div class="container">
<div class="row" style="max-width: 500px; margin: auto;">

<form name="datesForm" style="padding-top: 20px; clear: both;">
    <accordion>
        <accordion-group is-open="vm.dates.opened">
            <accordion-heading>
                <label>Intervallum</label><i class="pull-right fa" ng-class="{'fa-chevron-down': vm.dates.opened, 'fa-chevron-right': !vm.dates.opened}"></i>
            </accordion-heading>
            <ul class="list-group">
                <li ng-if="vm.adminMode" class="list-group-item">
                    <label>Edző</label>
                    <input type="text" ng-model="vm.coach" name="coach" class="form-control" placeholder="Edző neve" ga-enter=""
                      typeahead="coach as coach.name for coach in vm.coaches | filter: { name: $viewValue }" is-item-of-list="{{ vm.coachNames | filter: name }}">
                    <span class="text-danger" ng-show="datesForm.coach.$error.required && datesForm.coach.$touched">
                            <i class="fa fa-exclamation-triangle"></i> Kötelező kitölteni!</span>
                    <span class="text-danger" ng-show="datesForm.coach.$error.isItemOfList && datesForm.coach.$touched">
                            <i class="fa fa-exclamation-triangle"></i> Nincs ilyen nevű edző!</span>
                </li>
                <li class="list-group-item">
                    <label>Kezdő dátum</label>
                    <calendar id="from" model="vm.dates.from" format="longDate" minDate="vm.dates.minDate" maxDate="vm.dates.maxDate"></calendar>
                </li>
                <li class="list-group-item">
                    <label>Befejező dátum</label>
                    <calendar id="to" model="vm.dates.to" format="longDate" minDate="vm.dates.minDate" maxDate="vm.dates.maxDate"></calendar>
                </li>
                <li class="list-group-item clearfix">
                    <span style="margin-top: 10px" class="text-danger" ng-show="vm.dates.invalid">
                        <i class="fa fa-exclamation-triangle"></i> A kezdő dátum korábbi kell, hogy legyen, mint a befejezés dátuma!</span>
                    <button type="button" class="btn btn-primary" ng-click="vm.setLastMonth()">
                      <i class="fa fa-history"></i>
                      <span class="hidden-xs">Előző hónap</span>
                    </button>
                    <button type="button" class="btn btn-primary" ng-click="vm.setCurrentMonth()">
                      <i class="fa fa-star"></i>
                      <span class="hidden-xs">Aktuális hónap</span>
                    </button>
                    <button type="button" ng-disabled="datesForm.$invalid || vm.dates.invalid" class="btn btn-primary pull-right" ng-click="vm.show(datesForm)">
                      <i class="fa fa-bar-chart"></i>
                      <span class="hidden-xs">Mutasd</span>
                    </button>
                </li>
            </ul>
        </accordion-group>
    </accordion>
</form>

<accordion>
    <accordion-group is-open="vm.statsIsOpen">
        <accordion-heading>
            <label>Statisztikák</label><i class="pull-right fa" ng-class="{'fa-chevron-down': vm.statsIsOpen, 'fa-chevron-right': !vm.statsIsOpen}"></i>
        </accordion-heading>
        <ul class="list-group">
            <li class="list-group-item">
                <label>Összesítés</label>
               <div>Megtartott edzések: {{vm.stats.trainings}}</div>
               <div>Feliratkozottak: {{vm.stats.all.attendees}}</div>
               <div>Résztvevők: {{vm.stats.all.participants}} ({{((vm.stats.all.participants / vm.stats.all.attendees) * 100) | number : 0}}%)</div>
               <div>Eladások: {{vm.stats.allSubscriptions | number}}</div>
               <div>Bevétel: {{vm.stats.sumIncome | number}}</div>
            </li>
            <li class="list-group-item">
                <label>Átjárások</label>
                <div ng-repeat="guests in vm.stats.guestCredits">{{guests.coach}}: {{guests.sum | number }}</div>
            </li>
            <li class="list-group-item" ng-if="vm.stats.subscriptions.length">
                <accordion>
                    <accordion-group is-open="vm.subscriptionsStatsIsOpen">
                        <accordion-heading>
                            <label>Eladások ({{vm.stats.subscriptions.length}} db)</label><i class="pull-right fa" ng-class="{'fa-chevron-down': vm.subscriptionsStatsIsOpen, 'fa-chevron-right': !vm.subscriptionsStatsIsOpen}"></i>
                        </accordion-heading>
                        <ul class="list-group">
                            <li class="list-group-item" ng-repeat="subscription in vm.stats.subscriptions">
                                <div>Tanítány: {{subscription.name}}</div>
                                <div>Vásárlás időpontja: {{ subscription.date * 1000 | date }}</div>
                                <div>Alkalmak száma: {{subscription.amount}}</div>
                                <div>Érvényesség: {{ subscription.period }}</div>
                                <div ng-if="subscription.firstTime" class="creditText">(Első, ingyenes alkalom)</div>
                            </li>
                        </ul>
                    </accordion-group>
                </accordion>
            </li>
           <li class="list-group-item" ng-if="vm.stats.newClients.length">
                <accordion>
                    <accordion-group is-open="vm.newClientsStatsIsOpen">
                        <accordion-heading>
                            <label>Új tanítványok ({{vm.stats.newClients.length}} db)</label><i class="pull-right fa" ng-class="{'fa-chevron-down': vm.newClientsStatsIsOpen, 'fa-chevron-right': !vm.newClientsStatsIsOpen}"></i>
                        </accordion-heading>
                        <ul class="list-group">
                            <li class="list-group-item" ng-repeat="subscription in vm.stats.newClients">
                                <div>{{subscription.name}}</div>
                            </li>
                        </ul>
                    </accordion-group>
                </accordion>
            </li>
            <li class="list-group-item" ng-if="vm.stats.passiveClients.length">
                <accordion>
                    <accordion-group is-open="vm.passiveClientsStatsIsOpen">
                        <accordion-heading>
                            <label>Passzívak ({{vm.stats.passiveClients.length}} db)</label><i class="pull-right fa" ng-class="{'fa-chevron-down': vm.passiveClientsStatsIsOpen, 'fa-chevron-right': !vm.passiveClientsStatsIsOpen}"></i>
                        </accordion-heading>
                        <ul class="list-group">
                            <li class="list-group-item" ng-repeat="subscription in vm.stats.passiveClients">
                                <div>Tanítány: {{subscription.name}}</div>
                                <div>Vásárlás időpontja: {{ subscription.date * 1000 | date }}</div>
                                <div>Lejárat időpontja: {{ subscription.expiry * 1000 | date }}</div>
                                <div>Alkalmak száma: {{subscription.amount}}</div>
                                <div>Érvényesség: {{ subscription.period }}</div>
                                <div ng-if="subscription.firstTime" class="creditText">(Első, ingyenes alkalom)</div>
                            </li>
                        </ul>
                    </accordion-group>
                </accordion>
            </li>
            <li class="list-group-item" ng-if="vm.stats.series.length">
                <accordion>
                    <accordion-group is-open="vm.attendeesStatsIsOpen">
                        <accordion-heading>
                            <label>Látogatottság</label><i class="pull-right fa" ng-class="{'fa-chevron-down': vm.attendeesStatsIsOpen, 'fa-chevron-right': !vm.attendeesStatsIsOpen}"></i>
                        </accordion-heading>
                        <ul class="list-group">
                            <li class="list-group-item" ng-repeat="instance in vm.stats.series">
                                <div>{{instance.name}} - {{ instance.date.toDate() | date : 'EEEE HH:mm' }}</div>
                                <div>Összes: {{instance.participants.sum}} ({{instance.attendees.sum}})</div>
                                <div>Átlag: {{(instance.participants.sum / instance.count) | number}} ({{(instance.attendees.sum / instance.count) | number}})</div>
                                <div>Minimum: {{instance.participants.min}} ({{instance.attendees.min}})</div>
                                <div>Maximum: {{instance.participants.max}} ({{instance.attendees.max}})</div>
                            </li>
                        </ul>
                    </accordion-group>
                </accordion>
            </li>
        </ul>
    </accordion-group>
</accordion>

</div>
</div>