<div class="container">
  <div id="home-large" class="hidden-xs">
    <div class="jumbotron">
      <h1>Üdvözöl az edzőterem segéd!</h1>
      <div ng-if="!vm.isLoggedIn">
        <p>Az alábiakban megtekintheted aktuális órarendünket, vagy lépj be a további szolgáltatásaink eléréséhez</p>
        <p><a class="btn btn-primary btn-lg" href="/orarend/heti" role="button">Órarend</a></p>
      </div>
      <div ng-if="vm.isLoggedIn">
        <p>Kedves {{vm.userInfo.name}}, kérlek válasz a fenti menüpontok közül!</p>
      </div>
    </div>
  </div>
  <div id="home-small" class="visible-xs">
    <ul class="list-group">
        <li class="list-group-item active">
             {{vm.welcomeText}}
        </li>
        <li class="list-group-item" ng-if="vm.isCoach">
            <a href="/adminisztracio">Adminisztráció</a>
        </li>
        <li class="list-group-item" ng-if="vm.isLoggedIn">
            <a href="/profilom">Profilom</a>
        </li>
        <li class="list-group-item">
            <a ng-href="{{vm.today}}">Órarend</a>
        </li>
        <li class="list-group-item">
            <a href="/belepes" ng-if="!vm.isLoggedIn">Belépés</a>
            <a href="#" ng-if="vm.isLoggedIn" data-ng-click="vm.logout()">Kilépés</a>
        </li>
      </ul>
  </div>
</div>