<div class="container">
  <div id="admin-small" class="visible-xs">
    <ul class="list-group">
        <li class="list-group-item active">
             {{vm.welcomeText}}
        </li>
        <li class="list-group-item" >
            <a href="/uj/felhasznalo">Új felhasználó</a>
        </li>
        <li class="list-group-item" >
            <a href="/berlet/vasarlas">Bérletvásárlás</a>
        </li>
        <li class="list-group-item" ng-if="vm.isAdmin">
            <a href="/edzesek">Edzések</a>
        </li>
        <li class="list-group-item" ng-if="vm.isAdmin">
          <a href="/hirlevel">Hírlevél</a>
        </li>
      </ul>
  </div>
</div>