/* ==================================================
General
================================================== */

body {
  padding-top: 75px;
  padding-bottom: 75px;
}

/* ==================================================
Top navbar
================================================== */

#top-bar {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #f8f8f8;
  border-style: solid;
  border-color: #e7e7e7;
  border-width: 0 0 4px 0;
  z-index: 1030;
  height: 50px;
  width: 100%;
}

#top-bar-small > div {
  margin-top: 10px;
}

/* ==================================================
Schedule view
================================================== */

#schedule-bottom-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: #f8f8f8;
  border-color: #e7e7e7;
  border-style: solid;
  border-width: 4px 0 0 0;
  z-index: 1030;
  height: 50px;
  width: 100%;
}

.trainer {
  text-align: right;
}

#scheduleTable .trainer {
  text-align: right;
}

#schedule-bottom-bar-small > div {
  margin-top: 10px;
}

div#schedule-bottom-bar-small-date {
  font-size: 0.9em;
  margin-top: 15px;
  color: #428BCA;
}

#scheduleTable .panel-body {
  height: 144px;
}
/* ==================================================
Modal
================================================== */

#dialog .modal-body {
  overflow: visible;
}

.modal-body {
  margin-bottom: 20px;
}

/* ==================================================
Credit details
================================================== */

.creditDetailsText {
    height: 32px;
    padding-top: 6px;
}

span.creditDetailsText {
    margin-right: 12px;
}

.credit-details-sub-panel {
  margin-top: 20px;
}