<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="hu-HU" ng-app="gymassistant.front"> <!--<![endif]-->

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

        <title ng-bind="title ? 'Edzőterem segéd - ' + title : 'Edzőterem segéd'">Edzőterem segéd</title>

        <meta name="description" content="Gym Assistant Web Application">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

        <!-- build:css_vendor -->
        <link rel="stylesheet" type="text/css" href="/bower_components/bootstrap/dist/css/bootstrap.css">
        <link rel="stylesheet" type="text/css" href="/bower_components/bootstrap/dist/css/bootstrap-theme.css">
        <link rel="stylesheet" type="text/css" href="/bower_components/fontawesome/css/font-awesome.css">
        <!-- endbuild -->
        <!-- build:css_all -->
        <link rel="stylesheet" type="text/css" href="/app.css">
        <link rel="stylesheet" type="text/css" href="/authentication/login.css">
        <link rel="stylesheet" type="text/css" href="/modal/loading.css">
        <!-- endbuild -->

        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

        <!-- build:js_modernizr -->
        <script src="/bower_components/modernizr/modernizr.js"></script>
        <!-- endbuild -->

        <!-- Fav Icon -->
        <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
        <link rel="icon" href="favicon.ico" type="image/x-icon">

        <!-- Apple touch icons -->
        <link rel="apple-touch-icon" href="apple-touch-icon.png">
        <link rel="apple-touch-icon" sizes="76x76" href="apple-touch-icon.png">
        <link rel="apple-touch-icon" sizes="120x120" href="apple-touch-icon.png">
        <link rel="apple-touch-icon" sizes="152x152" href="apple-touch-icon.png">

        <base href="/">
    </head>

    <body ng-controller="NavbarController as vm">
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please
                <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <div id="top-bar">
            <div class="container">
                <div id="top-bar-large" class="row hidden-xs">
                    <div class="col-xs-12">
                        <ul class="nav navbar-nav navbar-left">
                            <li>
                                <a href="/">Edzőterem Segéd</a>
                            </li>
                            <li>
                                 <a ng-attr-href="{{vm.welcomeTextLink}}">{{vm.welcomeText}}</a>
                            </li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">

                            <li class="dropdown" ng-if="vm.isCoach">
                                <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Adminisztráció <span class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="/uj/felhasznalo">Új felhasználó</a></li>
                                    <li><a href="/berlet/vasarlas">Bérletvásárlás</a></li>
                                </ul>
                            </li>

                            <li ng-if="vm.isLoggedIn">
                                <a href="/profilom">Profilom</a>
                            </li>
                            <li>
                                <a href="/orarend/heti">Órarend</a>
                            </li>
                            <li>
                                <a href="/belepes" ng-if="!vm.isLoggedIn">Belépés</a>
                                <a href="#" ng-if="vm.isLoggedIn" data-ng-click="vm.logout()">Kilépés</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div id="top-bar-small" class="row visible-xs">
                    <div class="col-xs-offset-1 col-xs-2">
                        <a href="/"><i class="fa fa-2x fa-home"></i></a>
                    </div>
                    <div class="col-xs-2">
                        <a href="/adminisztracio" ng-if="vm.isCoach"><i class="fa fa-2x fa-pencil"></i></a>
                    </div>
                    <div class="col-xs-2">
                        <a href="/profilom" ng-if="vm.isLoggedIn"><i class="fa fa-2x fa-user"></i></a>
                    </div>
                    <div class="col-xs-2">
                        <a ng-href="{{vm.today}}"><i class="fa fa-2x fa-calendar"></i></a>
                    </div>
                    <div class="col-xs-2">
                        <a href="/belepes" ng-if="!vm.isLoggedIn"><i class="fa fa-2x fa-sign-in"></i></i></a>
                        <a href="#" ng-if="vm.isLoggedIn" data-ng-click="vm.logout()"><i class="fa fa-2x fa-sign-out"></i></i></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">

            <div data-ng-view></div>

        </div>

        <!-- build:js_vendor -->
        <script src="/bower_components/jquery/dist/jquery.js"></script>
        <script src="/bower_components/bootstrap/dist/js/bootstrap.js"></script>
        <script src="/bower_components/angular/angular.js"></script>
        <script src="/bower_components/angular-ui-bootstrap-bower/ui-bootstrap-tpls.js"></script>
        <script src="/bower_components/angular-animate/angular-animate.js"></script>
        <script src="/bower_components/angular-i18n/angular-locale_hu-hu.js"></script>
        <script src="/bower_components/angular-route/angular-route.js"></script>
        <script src="/bower_components/angular-resource/angular-resource.js"></script>
        <script src="/bower_components/angular-cookie/angular-cookie.js"></script>
        <script src="/bower_components/moment/moment.js"></script>
        <script src="/bower_components/angular-moment/angular-moment.js"></script>
        <script src="/bower_components/qcode-decoder/build/qrcode.js"></script>
        <script src="/bower_components/qrcode/lib/qrcode.min.js"></script>
        <script src="/bower_components/angular-qr/angular-qr.min.js"></script>
        <!-- endbuild -->
        <!-- build:js_all -->
        <script src="/app.js"></script>

        <script src="/common/common.module.js"></script>
        <script src="/common/http.service.js"></script>
        <script src="/common/location.helper.js"></script>
        <script src="/common/ga-enter.js"></script>
        <script src="/common/event.helper.js"></script>
        <script src="/common/storage.helper.js"></script>


        <script src="/home/home.module.js"></script>
        <script src="/home/home.controller.js"></script>

        <script src="/authentication/authentication.module.js"></script>
        <script src="/authentication/authentication.service.js"></script>
        <script src="/authentication/login.config.js"></script>
        <script src="/authentication/login.js"></script>

        <script src="/error/error.module.js"></script>
        <script src="/error/error.js"></script>
        <script src="/error/error.service.js"></script>

        <script src="/schedule/schedule.module.js"></script>
        <script src="/schedule/schedule.controller.js"></script>
        <script src="/schedule/schedule.config.js"></script>
        <script src="/schedule/schedule.service.js"></script>

        <script src="/attendees/attendees.module.js"></script>
        <script src="/attendees/attendees.js"></script>
        <script src="/attendees/attendees.config.js"></script>
        <script src="/attendees/attendees.service.js"></script>

        <script src="/profile/profile.module.js"></script>
        <script src="/profile/profile.config.js"></script>
        <script src="/profile/profile.service.js"></script>
        <script src="/profile/profile.controller.js"></script>

        <script src="/coach/coach.module.js"></script>
        <script src="/coach/coach.config.js"></script>
        <script src="/coach/coach.service.js"></script>
        <script src="/coach/admin.service.js"></script>
        <script src="/coach/new_user.controller.js"></script>
        <script src="/coach/add_credit.controller.js"></script>

        <script src="/modal/modal.module.js"></script>
        <script src="/modal/info.service.js"></script>
        <script src="/modal/info.controller.js"></script>
        <script src="/modal/decision.controller.js"></script>
        <script src="/modal/decision.service.js"></script>
        <script src="/modal/loading.js"></script>
        <!-- endbuild -->
    </body>
</html>
