 <div class="container">
    <div class="row">
        <div class="col-sm-offset-1 col-lg-6 col-md-7 col-sm-9" style="margin-bottom: 20px;">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Tanítvány keresése"
                ng-model="vm.userToView" ga-enter="vm.viewUser()"
                typeahead="user as user.name for user in vm.allUsers | filter: { name: $viewValue }">
                <a hef="" ng-click="vm.viewUser()" class="input-group-addon btn btn-default">Mutasd</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-offset-1 col-lg-6 col-md-7 col-sm-9">
            <ul class="list-group">
                <li class="list-group-item">
                    <div class="input-group">
                        <span class="input-group-addon">Név</span>
                        <input ng-model="vm.name" class="form-control" id="name">
                        <a hef="" ng-click="vm.changeName()" class="input-group-addon btn btn-default" disabled>Módosít</a>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="input-group">
                        <span class="input-group-addon">Email</span>
                        <input ng-model="vm.email" class="form-control" id="email">
                        <a hef="" ng-click="vm.changeEmail()" class="input-group-addon btn btn-default">Módosít</a>
                    </div>
                </li>
                <li class="list-group-item">
                    Rang: <span ng-bind="vm.role"></span>
                </li>
                <li class="list-group-item">
                    <a style="cursor:pointer;" hef="#" ng-click="vm.registrationEmail()">Regisztrációs email kiküldése</a>
                </li>
                <li class="list-group-item" ng-if="vm.isClient">
                    <a ng-href="{{vm.addCredit()}}">Bérletvásárlás</a>
                </li>
                <li class="list-group-item" ng-if="vm.isClient">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Bérletek
                        </div>
                        <div class="panel-body">
                            <ul class="list-group">
                                <li class="list-group-item" ng-repeat="credit in vm.credits | orderBy: 'date':true">
                                    <div class="creditText">Vásárlás időpontja: {{ credit.date * 1000 | date }}</div>
                                    <div class="creditText">Érvényesség vége: {{ credit.expiry * 1000 | date }}</div>
                                    <div class="creditText">Edző: {{ credit.coach }}</div>
                                    <div class="creditText">{{ credit.amount }} alkalmas bérlet</div>
                                    <div ng-if="credit.attended > 0" class="creditText">Feliratkozott {{ credit.attended }} edzésre</div>
                                    <div ng-if="credit.participated > 0" class="creditText">Részt vett {{ credit.participated }} edzésen</div>
                                    <div ng-if="credit.missed > 0" class="creditText">Kihagyott {{ credit.missed }} feliratkozott edzést</div>
                                    <div ng-if="credit.expiry >= vm.now && credit.free > 0" class="creditText">Még feliratkozhat {{ credit.free }} alkalomra</div>
                                    <div ng-if="credit.expiry < vm.now && credit.free > 0" class="creditText">Feliratkozás nélkül elveszett {{ credit.free }} alkalom</div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
 </div>