<div class="container">
    <div class="omb_login">
        <h3 class="omb_authTitle">Elfelejtetted a jelszavad?</h3>
        <div class="row" style="margin-bottom: 20px; text-align: justify;">
            Semmi gond, velünk is rendszeresen előfordul <i class="fa fa-smile-o"></i> Kérlek add meg a neved és az e-mail címedet, amivel regisztrálva vagy. Ekkor kapsz egy e-mailt, amelyben leírtakat követve tudsz új jelszót beállítani magadnak.
        </div>
        <div class="row">
                <form name="forgottenPasswordForm" role="form" novalidate>
                    <div class="col-xs-12 col-sm-5">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-user"></i></span>
                            <input type="text" class="form-control" id="userName" name="userName" placeholder="Név" data-ng-model="vm.userName" ga-enter="vm.submit(forgottenPasswordForm)" required>
                        </div>
                        <span class="text-danger" ng-show="forgottenPasswordForm.userName.$error.required && forgottenPasswordForm.userName.$touched ">
                                <i class="fa fa-exclamation-triangle"></i> Kötelező kitölteni!</span>
                    </div>
                    <div class="col-xs-12 col-sm-5">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-at"></i></span>
                            <input type="email" class="form-control" id="email" name="email" placeholder="E-mail" ng-model="vm.email" ga-enter="vm.submit(forgottenPasswordForm)" required>
                        </div>
                        <span ng-show="forgottenPasswordForm.$submitted || forgottenPasswordForm.email.$touched">
                            <span class="text-danger" ng-show="forgottenPasswordForm.email.$error.required"><i class="fa fa-exclamation-triangle"></i> Kötelező kitölteni!</span>
                            <span class="text-danger" ng-show="forgottenPasswordForm.email.$error.email"><i class="fa fa-exclamation-triangle"></i> Érvénytelen email cím formátum!</span>
                        </span>
                    </div>

                    <div class="col-xs-12 col-sm-2 text-center">
                        <button type="button" class="btn btn-primary" ng-disabled="forgottenPasswordForm.$invalid || forgottenPasswordForm.$pristine" ng-click="vm.submit(forgottenPasswordForm)">Mehet</button>
                    </div>
                    <div class="col-xs-12 text-center" ng-show="forgottenPasswordForm.$pristine && vm.error">
                        <span class="text-danger"><i class="fa fa-exclamation-triangle"></i> {{ vm.error }}</span>
                    </div>
                </form>
        </div>
    </div>
</div>