<div class="container">
    <div class="omb_login">
        <div class="row">
            <div class="col-xs-12 col-sm-7 col-sm-offset-2">
            <h3 class="omb_authTitle">Belépés</h3>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-user"></i></span>
                        <input type="text" class="form-control" name="username" placeholder="Név vagy email cím" data-ng-model="vm.userName" ga-enter="vm.submit()">
                    </div>
                    <span class="help-block"></span>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                        <input  type="password" class="form-control" name="password" placeholder="Jelszó" ng-model="vm.password" ga-enter="vm.submit()">
                    </div>
                    <span class="help-block text-danger" data-ng-bind="vm.error"></span>

                    <button type="button" class="btn btn-lg btn-primary btn-block" ng-click="vm.submit()" >Belépés</button>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-3 col-sm-offset-2">
                <div class="checkbox">
                <label>
                    <input type="checkbox" ng-model="vm.remember"> Emlékezz rám
                </label>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4">
                <p class="omb_forgotPwd">
                    <a href="/elfelejtett/jelszo">Elfelejtetted a jelszavadat?</a>
                </p>
            </div>
        </div>
    </div>
</div>