<div class="container">
    <div class="row">
        <ul class="list-group" >
            <li class="list-group-item clearfix"
                ng-repeat="attendee in attendees.training.attendees | orderBy: attendee"
                ng-class='{ "list-group-item-success": attendee.checkedIn, "list-group-item-danger": attendees.missedCheckIn(attendee) }'>
                <span>{{$index + 1}}. </span>
                <span><a ng-href="/profil/{{attendee.name}}">{{ attendee.name }}</a></span>
                <span class="pull-right">
                    <button type="button" class="btn btn-primary btn-sm" ng-if="attendees.canUndoCheckedIn(attendee)"
                            ng-click="attendees.undoCheckIn(attendee)">
                        <i class="fa fa-undo"></i><span class="hidden-xs"> Visszavonás</span>
                    </button>
                    <button type="button" class="btn btn-primary btn-sm" ng-if="attendees.canCheckIn(attendee)"
                            ng-click="attendees.checkIn(attendee)">
                        <i class="fa fa-check-circle"></i><span class="hidden-xs"> Bejelentkezés</span>
                    </button>
                    <button type="button" class="btn btn-primary btn-sm" ng-if="attendees.canCheckIn(attendee)"
                            ng-click="attendees.remove(attendee)">
                        <i class="fa fa-trash"></i><span class="hidden-xs"> Eltávoítás</span>
                    </button>
                </span>
            </li>
            <li class="list-group-item clearfix" ng-if="attendees.canAdd()">
                <span class="input-group" ng-class='{ "has-error": attendees.addAttendeeError }'>
                    <span class="input-group-addon">
                        <i class="fa fa-user"></i>
                    </span>
                    <input type="text" class="form-control" placeholder="Tanítvány hozzáadása" ng-model="attendees.newAttendee"
                           typeahead="user as user.name for user in attendees.usersCanBeAdded | filter: { name: $viewValue }">

                    <span class="input-group-addon" ng-click="attendees.add()">
                        <i class="fa fa-plus"></i>
                    </span>
                </span>
                <span ng-if="attendees.addAttendeeError" class="text-danger">
                    {{ attendees.addAttendeeError }}
                </span>
            </li>
        </ul>
    </div>
</div>